* {
	margin: 0;
	padding: 0;
}
@-webkit-keyframes apareceFundo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes apareceFundo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes apareceFundo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes apareceFundo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes apareceFundo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes giraForm {
    from {
        opacity: 0;
        -webkit-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes giraForm {
    from {
        opacity: 0;
        -webkit-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes giraForm {
    from {
        opacity: 0;
        -webkit-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes giraForm {
    from {
        opacity: 0;
        -webkit-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }

    to {
        opacity: 1;
    }
}

@keyframes giraForm {
    from {
        opacity: 0;
        -webkit-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }

    to {
        opacity: 1;
    }
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    font-size: 100%;
    background: #eaeaea;
    -webkit-animation: apareceFundo 1s ease-in-out 0.2s alternate;
    -o-animation: apareceFundo 1s ease-in-out 0.2s alternate;
    animation: apareceFundo 1s ease-in-out 0.2s alternate;
}

.full-wrapper {
    height: 100%!important;
}

.content-form-wrapper {
    width: 86%;
    margin: auto;
    max-width: 423px;
    min-width: 200px;
    -webkit-animation: giraForm 0.8s ease-in 0.1s 1;
    -o-animation: giraForm 0.8s ease-in 0.1s 1;
    animation: giraForm 0.8s ease-in 0.1s 1;
}


.content-form-header {
    width: 80%;
    margin: auto;
    padding: 4em 0 2em;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .content-form-header {
        padding: 0.4em 0;
    }
    .content-form {
        padding: 0.4em 1.2em;
    }
}

.content-form {
    width: 100%;
    padding: 2em 3.4em 1.5em;
    font-size: 0.9em;
    background: #505050;
}

.top-form {
    display: block;
    width: 100%;
    height: 7em;
    -webkit-border-radius: 0.8em 0.8em 0 0;
    -moz-border-radius: 0.6em 0.6em 0 0;
    border-radius: 0.6em 0.6em 0 0;
    background: #fff;
}

.top-form i {
    display: block;
    position: relative;
    top: 15px;
    width: 86px;
    height: 86px;
    margin: auto;
    border-radius: 100%;
    background: silver;
}

.top-form i:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 18%;
    text-align: center;
    font-size: 3.2em;
}

.content-form-control {
    display: block;
    width: 100%;
    margin: 0.8em auto;
    padding: 0.85em;
    border: 0;
    font-weight: lighter;
    outline: none;
    color: #ccc;
    background: #404040;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.content-form-control:-webkit-autofill,
.content-form-control:-moz-autofill,
.content-form-control:-ms-autofill,
.content-form-control:-o-autofill,
.content-form-control:-o-autofill {
    background: none;
    border: none;
}

.content-form-control:focus,
.content-form-control:active {
    -webkit-box-shadow: 0 0 8px #FF8627;
    -moz-box-shadow: 0 0 8px #FF8627;
    box-shadow: 0 0 8px #FF8627;
}

.content-form-control[type="submit"] {
    margin-top: 1.1em;
    padding: 0.7em;
    color: white;
    background: #FF8627;
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    -ms-transition: all 0.8s linear;
    -o-transition: all 0.8s linear;
    transition: all 0.8s linear;
}

.content-form-control[type="submit"]:hover {
    background: #ff6610;
}

.bottom-form {
    padding: 1.4em 3.6em;
    background: #404040;
}

.bottom-form a {
    display: block;
    text-align: center;
    font-size: 1.2em;
    color: #999;
    margin-bottom: 0.8em;
}

@media screen and (max-width:600px) {
    .bottom-form a {
        display: block;
        width: 100%;
        margin-bottom: 0.5em;
        text-align: left;
    }
}

.bottom-form a,
.bottom-form a i,
.bottom-form a i:before {
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -ms-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}

.bottom-form a:hover {
    color: white;
}

.bottom-form a:hover i {
    color: #404040;
    background: white;
}

.bottom-form a i {
    display: inline-block;
    position: relative;
    top: 6px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: #6f6f6f;
}

.bottom-form a i:before {
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    font-size: 14px!important;
}